body {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

nav {
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.left-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.left-links a {
	padding-right: 2rem;
	text-decoration: none;
	font-weight: 800;
	color: rgba(0, 0, 0, 0.87);
}

.right-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.right-links a {
	padding-left: 2rem;
	text-decoration: none;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.87);
}

#map {
	padding-left: 0.5rem;
}

.show-sm {
	display: none;
}

#mobile-right-links {
	display: none;
	width: 100%;
	position: fixed;
	height: 100%;
	top: 116px !important;
	right: 0;
	background-color: #fff !important;
	left: 8rem;
	box-shadow: -10rem 0rem 0rem rgba(0, 0, 0, 0.4);
}

.mobile-right-links-box {
	box-shadow: 0px -0.1px 1px;
	width: 100%;
	text-align: left;
}

.mobile-link {
	margin: 2rem 3rem;
}

.mobile-link a {
	text-decoration: none;
}

@media (max-width: 1000px) {
	.hide-sm {
		display: none;
	}
	.show-sm {
		display: block;
	}

	#mobile-right-links.show {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	#about-us-links.show {
		display: flex;
		flex-direction: column;
	}

	#careers-links.show {
		display: flex;
		flex-direction: column;
	}

	#social-impact-links.show {
		display: flex;
		flex-direction: column;
	}

	#business-links.show {
		display: flex;
		flex-direction: column;
	}

	#order-links.show {
		display: flex;
		flex-direction: column;
	}
}

.mobile-buttons {
	display: flex;
	margin: 2rem 0rem;
}

.mobile-buttons a {
	text-decoration: none;
}

#find-store {
	margin-left: 3rem;
}

.sign-in {
	border: 1px solid rgba(0, 0, 0, 0.87);
	border-radius: 25px;
	width: fit-content;
	margin: auto;
	font-size: 1rem;
	font-weight: 600;
	margin-left: 3rem;
}

.join-now {
	background-color: rgba(0, 0, 0, 0.87);
	border-radius: 25px;
	width: fit-content;
	margin: auto;
	font-size: 1rem;
	font-weight: 600;
	margin-left: 1rem;
}

.sign-in a,
.join-now a {
	display: inline-block;
	padding: 0.5rem 1rem;
}

.join-now a {
	color: white;
}

svg {
	width: 3rem;
}

header {
	text-align: center;
	padding: 1rem 20rem;
	background-color: #d4e9e2;
	margin-bottom: 2rem;
	font-size: 19px;
	line-height: 2.5rem;
	font-weight: 400;
	color: #1e3932;
	box-shadow: 0px -0.1px 3px;
}

header a {
	color: #1e3932;
}

@media (max-width: 1000px) {
	header {
		padding: 1rem 1rem;
	}
}

.banner {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 2rem 0rem;
}

@media (max-width: 1000px) {
	.banner {
		display: block;
	}
}

.banner-img {
	background-color: #d4e9e2;
}

.banner img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.banner-text {
	background-color: #d4e9e2;
	color: #006241;
	font-size: 1.5rem;
	line-height: 2.3rem;
	padding: 30% 10%;
	text-align: center;
}

.banner-text a {
	text-decoration: none;
	color: #006241;
}

@media (max-width: 1000px) {
	.banner-text {
		padding: 5% 10%;
	}
}

.button {
	border: 1px solid #006241;
	border-radius: 25px;
	width: fit-content;
	padding: 0rem 1.5rem;
	margin: auto;
	font-size: 1rem;
	font-weight: 600;
}

.button:hover {
	background-color: #c8e0d8;
}

.smaller-text {
	max-height: 504px;
	padding-top: 5%;
	padding-bottom: 0px;
}

.smaller-text p {
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.87);
}

.smaller-banner-mobile {
	display: none;
}

@media (max-width: 1000px) {
	.smaller-banner {
		display: none;
	}

	.smaller-banner-mobile {
		display: block;
	}

	.smaller-banner-mobile .smaller-text {
		padding: 5% 5%;
	}
}

.blend {
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.87);
}

.bigger-banner-mobile {
	display: none;
}

@media (max-width: 1000px) {
	.bigger-banner {
		display: none;
	}

	.bigger-banner-mobile {
		display: block;
	}

	.bigger-banner-mobile .bigger-text {
		padding: 5% 5%;
	}
}

.blend-color {
	background-color: #f2f0eb;
}

.slogan {
	text-align: center;
	margin: 5rem;
	color: #1e3932;
	font-size: xxx-large;
}

@media (max-width: 1000px) {
	.slogan {
		font-size: xx-large;
	}
}

.disclaimer {
	font-size: small;
	text-align: center;
	margin: 3rem 20rem;
	line-height: 1.5rem;
}

@media (max-width: 1000px) {
	.disclaimer {
		margin: 1rem;
	}
}

.links-container {
	padding: 0rem 3rem 2rem 3rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	line-height: 2.5rem;
	font-weight: 400;
	color: #1e3932;
	box-shadow: 0px -0.1px 3px;
	display: flex;
}

.links-col {
	padding: 1rem 1rem;
}

.links-col a {
	text-decoration: none;
	color: #7a8b87;
}

.links-col a:hover {
	color: #1e3932;
}

.links-col h4 a {
	color: #1e3932;
}

@media (max-width: 1000px) {
	.links-group {
		display: none;
	}

	.links-container {
		display: block;
	}

	.links-col h4 {
		margin: 0;
	}

	.links-col a {
		color: #1e3932;
	}
}

.dropdown {
	position: relative;
	top: 5px;
	display: none;
}

@media (max-width: 1000px) {
	.dropdown {
		display: inline-block;
	}
}

.link {
	display: flex;
	justify-content: space-between;
}

.social-media-icons {
	padding: 1rem 2rem 2rem 4rem;
}

.social-media-icons svg {
	color: rgba(0, 0, 0, 0.87);
	padding-right: 0.7rem;
}

.footer-links {
	padding: 0rem 2rem 1rem 4rem;
}

.footer-links a {
	color: rgba(0, 0, 0, 0.87);
	text-decoration: none;
	/* display: inline-block; */
}

.footer-links a:hover {
	text-decoration: underline;
}

span {
	display: inline-block;
	margin: 0.8rem;
}

@media (max-width: 1000px) {
	.footer-links a {
		display: block;
		padding-bottom: 1rem;
		width: fit-content;
	}

	/* .footer-links {
		display: flex;
		flex-direction: column;
	} */

	span {
		display: none;
	}
}

.copyright {
	padding: 0rem 2rem 2rem 4rem;
	font-size: small;
	color: #7a8b87;
}
