html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    width: 80%;
    margin: 1rem auto;
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-height: 35rem;
    max-width: 100%;
    margin: 1rem auto;
    border-radius: 0.5rem;
}

select {
    font-family: 'Courier New', Courier, monospace;
}

@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

.spinner {
    font-size: 3rem;
    text-align: center;
    animation: 2s spin linear infinite;
    display: none
}

.dog-img {
    display: none;
}

.show {
    display: block;
}