<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('includes/head') %>
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
	<body>
		<%- include('includes/header') %> <%- include('includes/side-drawer') %>
		<main>
			<h1>Make the world a tastier place!</h1>
			<p>Sorry, we could not find the restaurant...</p>
		</main>
	</body>
</html>
