<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Add a new comment here!</h1>
		<form action="/comments" method="POST">
			<section>
				<label for="username">Username:</label>
				<input type="text" id="username" placeholder="Username" name="user" />
			</section>
			<section>
				<label for="text">Comment:</label>
				<hr />
				<textarea name="text" id="text" cols="30" rows="10"></textarea>
			</section>
			<button type="submit">Add comment!</button>
		</form>
		<a href="/comments">Back to comments!</a>
	</body>
</html>
