<% layout('layouts/boilerplate') %>
<h1>Edit your profile</h1>
<form action="/carers/<%= carer._id %>?_method=PUT" method="POST">
	<div>
		<label for="title">Title</label>
		<input
			type="text"
			name="carer[title]"
			id="title"
			value="<%= carer.title %> "
		/>
	</div>
	<div>
		<label for="location">Location</label>
		<input
			type="text"
			name="carer[location]"
			id="location"
			value="<%= carer.location %> "
		/>
	</div>
	<button>Update profile</button>
</form>
<a href="/carers/<%= carer._id %> ">Back to your profile</a>
