<%- include('partials/head') %> <%- include('partials/navbar') %>

<h1>This is the home page <%= 'hello'.toUpperCase() %></h1>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore est vel quia,
	nulla incidunt voluptatum harum ratione accusamus aut necessitatibus?
	Necessitatibus corporis facilis doloremque vel, voluptate veniam inventore
	iste repellendus.
</p>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, laborum
	repudiandae. Suscipit nisi blanditiis fugit ducimus natus, quo distinctio
	asperiores, quaerat molestiae dolore ab quidem rerum laboriosam commodi
	explicabo voluptates.
</p>

<%- include('partials/footer') %>
