html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

.image {
    display: none;
    max-height: 35rem;
    max-width: 100%;
    margin: auto;
    border-radius: 0.5rem;
}

.active {
    display: block;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #e4e5e9;
    color: black;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem 3rem;
    border-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
}

.prev {
    margin-right: 0.5rem;
}

.button:disabled {
    background-color: #cac2c2;
    cursor: not-allowed;
}