<%- include("partials/header") %>

<h2>This is the friends page</h2>

<% friends.forEach(function(friend) { %>
    <li>
        <%= friend %>
    </li>
<% }) %>

<form action="/addfriend" method="POST">
    <input type="text" name="newfriend" placeholder="Name here...">
    <button>Make a new friend!</button>
</form>

<%- include("partials/footer") %>