<%- include('partials/head') %> 
	<body>
		<h1>this is our home page</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
			accusamus illum dolores rerum assumenda sunt minus sapiente, quibusdam
			possimus itaque cum quis deleniti, doloremque omnis perferendis at eaque
			doloribus voluptatum?
		</p>
	</body>
</html>
