.display-season {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.winter {
	background-color: aqua;
}

.summer {
	background-color: orange;
}

.display-season.winter i {
	color: blue;
}

.display-season.summer i {
	color: red;
}
